---
import Footer from "@/components/shared/Footer.astro";
import Header from "@/components/shared/Header.astro";
import Hero from "@/components/shared/Hero.astro";
import "../styles/global.css";
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Brecho Sabores</title>
  </head>

  <body>
    <Header />
    <slot />
    <Hero />
    <Footer />
  </body>
</html>
